# Common binary files
*.db
*.sqlite
*.dat
*.log
*.backup
*.jar



# Server
/libraries
logs/
crash-reports/

# Sensitive data
usercache.json
whitelist.json

# Worlds
world/
world_nether/
world_the_end/
dig/
dig_nether/
dig_the_end/



# Other non config files
#
# bStats
plugins/bStats/*.yml
#
# PluginMetrics
plugins/PluginMetrics/config.yml
plugins/ProtocolLib/lastupdate



# Essentials

# Sensitive data
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv
plugins/Essentials/usermap.bin
plugins/Essentials/uuids.bin

# Upgrade process log
plugins/Essentials/upgrades-done.yml

# World spawn
plugins/Essentials/spawn.yml



# SkinRestorer

# Binary files
plugins/SkinsRestorer/userdata
plugins/SkinsRestorer/Skins
plugins/SkinsRestorer/cache
plugins/SkinsRestorer/legacy
plugins/SkinsRestorer/recommendations.json

# Sensitive data
plugins/SkinsRestorer/Players/



# Orebfuscator

# Cache
orebfuscator_cache/



# MultiWorld

# Sensitive data
plugins/Multiverse-Core/worlds.yml



# WorldGuard

# Sensitive data
plugins/WorldGuard/report.txt

# Include blacklist etc explicit
!plugins/WorldGuard/worlds/*



# Dynmap

# Non config files
plugins/dynmap/colorschemes/
plugins/dynmap/renderdata/
plugins/dynmap/texturepacks/
plugins/dynmap/web/
plugins/dynmap/*.pending

# Sensitive data
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/ids-by-ip.txt



# ProtocolLib

# Update check file
plugins/ProtocolLib/lastupdate



# LuckPerms

# Dependencies jar
plugins/LuckPerms/libs/



# Residence

# Sensitive data
plugins/Residence/Save/Worlds/

# Backup
plugins/Residence/Backup/
plugins/Residence/Save/Backup/



# WorldEdit
/plugins/WorldEdit/.archive-unpack

# Sensitive data
plugins/WorldEdit/sessions/
