*.db
*.dat
*.log

# Essentials
plugins/Essentials/userdata/*.yml
plugins/Essentials/usermap.csv

# bStats
plugins/bStats/*.yml

# PluginMetrics
plugins/PluginMetrics/config.yml
plugins/ProtocolLib/lastupdate
