# Common binary files
*.db
*.sqlite
*.dat
*.log
*.backup



# FreeFileSync

# Non config files
*.ffs_db
*.ffs_tmp



# Server

# Sensitive data
usercache.json

# Worlds
world/
world_nether/
world_the_end/
Dig/
DigTheEnd/

# Logs
logs/

# Crash reports
crash-reports/

# Other non config files
#
# bStats
plugins/bStats/*.yml
#
# PluginMetrics
plugins/PluginMetrics/config.yml
plugins/ProtocolLib/lastupdate



# Essentials

# Sensitive data
plugins/Essentials/userdata/
plugins/Essentials/usermap.csv

# Upgrade process log
plugins/Essentials/upgrades-done.yml

# World spawn
plugins/Essentials/spawn.yml



# SkinRestorer

# Binary files
plugins/SkinsRestorer/userdata
plugins/SkinsRestorer/Skins

# Sensitive data
plugins/SkinsRestorer/Players/



# FirstJoinCommands

# Sensitive data
plugins/FirstJoinCommands/UserData/



# Orebfuscator

# Cache
orebfuscator_cache/



# InvRestore2

# Sensitive data
plugins/InvRestore2/players.json



# MultiWorld

# Sensitive data
plugins/Multiverse-Core/worlds.yml



# WorldGuard

# Sensitive data
plugins/WorldGuard/report.txt



# IllegalSack

# Sensitive data
plugins/IllegalStack/OffenseLog.txt



# Dynmap

# Non config files
plugins/dynmap/colorschemes/
plugins/dynmap/renderdata/
plugins/dynmap/texturepacks/
plugins/dynmap/web/
plugins/dynmap/*.pending

# Sensitive data
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/ids-by-ip.txt


